#alignA{
	margin-left: 19px;
}
#alignB{
	margin-left: 20px;
}
#alignBcol{
	margin-left: 1px;
}
#formulaireMatriceA, #formulaireMatriceB, #resultSomme{
	display: inline-block;
}
#formulaireMatriceB{
	margin-left: 30px;
	margin-right: 30px;
}
.titreh3{
	text-align: center;
}
.caseSomme{
	border: 1px solid;
	width: 50px;
}
.textform{
	border: none;
}