#alignA{
	margin-left: 19px;
}
#alignB{
	margin-left: 20px;
}
#alignBcol{
	margin-left: 1px;
}
#formulaireMatriceA, #formulaireMatriceB{
	display: inline-block;
}
#formulaireMatriceB{
	margin-left: 30px;
}
.titreh3{
	text-align: center;
}